<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <title>Dynamic website</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <style>
    *{ font-family: Verdana, Geneva, Tahoma, sans-serif; } html{
    scroll-behavior: smooth; } 
    .footer{ 
      background-color: rgb(62, 61, 61);
    color: aliceblue;
    text-align: center; 
    
    
    } 
    i{ 
      transition:0.3s ease-in all ;
       } 
    
    i:hover{ 
      transform:rotate(360deg); 
    }

  </style>
  <body>
    <div id="connect" class="container-fluid footer ">
      <h5 class="py-3 ml-auto">Connect with me :</h5>
      <div class="row py-3 px-5">
        <div class="col-md-3 col-6 py-3">

          <a href="https://github.com/saurabh-tambolkar" target="_blank"><i
              class="fa-brands fa-github fa-2xl"
              style="color:#ffffff;"
            ></i></a>
        </div>

        <div class="col-md-3 col-6 py-3">
          <a
            href="https://www.linkedin.com/in/saurabh-tambolkar-515025229/"
            target="_blank"
          ><i
              class="fa-brands fa-linkedin fa-2xl"
              style="color:#ffffff;"
            ></i></a>
        </div>
        <div class="col-md-3 col-6 py-3">
          <a
            href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTLHGGQbrwgNBDQzQfZdJQngMqPrWvplSVCqQkQDbTPPwHpQMDVjxNcCqxDqNMxjhCRvDB"
            target="_blank"
          ><i
              class="fa-regular fa-envelope fa-2xl"
              style="color: #edeff3;"
            ></i></a>
        </div>
        <div class="col-md-3 col-6 py-3">
          <a
            href="https://www.instagram.com/saurabhtambolkar/"
            target="_blank"
            rel="noopener noreferrer"
          ><i
              class="fa-brands fa-instagram fa-2xl"
              style="color: #e5e7eb;"
            ></i></a>
        </div>
        <div class="copyright py-5">
          <p>TM &copy; copyright by Saurabh - All rights reserved</p>
        </div>

      </div>
    </div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>